.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
    flex-grow: 1;
}

.canvas {
    display: flex;
    background-color: #F9F9F9;
    box-shadow: 3px 2px 2px #888888;
    width: 1000px;
    height: 1000px;
    margin: 24px;
}

#canvas {
    margin: 0;
    flex-grow: 1;
    background-color: lightgray;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    cursor: crosshair;
}

.radio, .undo {
    margin: 6px;
}
